<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>About</title>
  </head>
  <body>
    <div id="about">
      <h1>About Estas Tonne</h1>

      <p>
        Estas Tonne - a true master of the guitar. His music is rooted in the
        culture of flamenco and Spanish classical guitar, but absorbed the
        echoes of the most different styles, languages and cultures.
      </p>

      <p>
        Estas Tonne was born and spent his childhood in Ukraine, but now it can
        rightfully be called a world citizen. Over the past 10 years, Estas,
        traveling the world, played more than 2000 concerts (including
        performances at prestigious festivals) in various parts of the globe -
        from the USA to India, from Mexico to Israel.
      </p>

      <p>
        Together with violinist Michael Shulman this charismatic guitarist
        creates in front of the audience the whole universe of new energy and
        allows the audience to plunge into it with a sense of harmony.
      </p>

      <a href="/">Back to Homepage</a>
    </div>
  </body>
</html>
