<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="photogallery">
      <h1>The best pictures of Estas Tonne!</h1>

      <img width="500" src="/img/img2.jpg" alt="Estas Tonne photo" />
      <img width="500" src="/img/img3.jpg" alt="Estas Tonne photo" />
      <img width="500" src="/img/img4.jpg" alt="Estas Tonne photo" />
      <img width="500" src="/img/img5.jpg" alt="Estas Tonne photo" />
      <img width="500" src="/img/img6.jpg" alt="Estas Tonne photo" />

      <a href="/">Back to Homepage</a>
    </div>
  </body>
</html>
