<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Works</title>
  </head>
  <body>
    <div id="works">
      <h2>Studio albums</h2>
      <ul>
        <li>Black and White World (2002)</li>
        <li>Dragon of Delight, Vol. II (2004)</li>
        <li>13 Songs of Truth (2008)</li>
        <li>Bohemian Skies (2009)</li>
        <li>Place of the Gods (2011)</li>
        <li>Internal Flight (2013)</li>
        <li>
          Mother of Souls - Soundscape of Life (Estas Tonne & One Heart Family)
          (2016)
        </li>
      </ul>

      <h2>Live albums</h2>
      <ul>
        <li>The Inside Movie (2012)</li>
        <li>Live in Odeon (2012)</li>
        <li>Internal Flight (Live at Garavasara) (2013)</li>
        <li>Live in ULM - Outer Inner - double album (2018)</li>
        <li>
          Space Creation (feat. Jonatan Bar Rashi - Live in Zurich) (2021)
        </li>
      </ul>
      <a href="/">Back to Homepage</a>
    </div>
  </body>
</html>
